/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: white;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    width: 120px;
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color:rgb(81, 171, 194);
    text-decoration: none;
    font-weight: bold;
}

/* Hero Section */
.hero {
    text-align: center;
    background-color: #3c91a7;
    padding: 50px 0;
}

.hero h2 {
    color: white;
    font-size: 2em;
}

.hero p {
    color: white;
    font-size: 1.2em;
}

/* Destination Section */
.destinations {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.destination img {
    width: 100%;
    border-radius: 8px;
}

.destination h3 {
    font-size: 1.5em;
    margin-top: 10px;
}

.destination p {
    font-size: 1em;
    margin-top: 10px;
}

.btn {
    display: inline-block;
    background-color: #3a91a7;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.btn:hover {
    background-color:rgb(79, 131, 151);
}

/* Footer */
footer {
    background-color: #3c91a7;
    color: black;
    text-align: center;
    padding: 10px 0;
}